{% extends 'webdings/base.html' %}

{% block content %}
<div class="title">DASHBOARD</div>
<div class="supplier-container">
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <!-- <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div>
    <div class="supplier-box">
        <img src="https://www.brides.com/thmb/kabe9JDL-Y_erc2niiUYqOKFkGA=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__594c26e1ec50f85356673e6d__11-8711a0487c68443782bafd9307c0fac6.jpeg" >
        <div class="centered-caption">Flowers</div>
    </div> -->
</div>
{% endblock %}