{% extends 'webdings/base.html' %}
{% load static %}
{% block content %}
<div class="title">DASHBOARD</div>
<div class="supplier-container">
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/flowers.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/dress.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/venue.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/favours.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/food.jpg'  %}" >
    </a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Flowers</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Dress</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Venue</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Favours</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Food</a></div>

    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/cake.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/beauty.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/music.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/photos.jpg'  %}" >
    </a></div>
    <div class="supplier-box"><a href="/webdings/shortlists">
        <img src="{% static 'webdings/dashboard/transport.jpg'  %}" >
    </a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Cake</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Beauty</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Music</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Photos</a></div>
    <div class="centered-caption"><a href="/webdings/shortlists">Transport</a></div>
</div>
{% endblock %}